<ion-view title="FoneticaMenu" hide-nav-bar="true" id="page5" style="background-color:#97D56D;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="height: 110px;"></div>
    <a ui-sref="tfoneticaMenu()" id="foneticaMenu-button8" class="button button-positive button-block">Transcripción Fonética</a>
    <div class="spacer" style="height: 30px;"></div>
    <a ui-sref="tfonologicaMenu()" id="foneticaMenu-button9" class="button button-positive button-block">Transcripción Fonológica</a>
    <div class="spacer" style="height: 30px;"></div>
    <a ui-sref="cfonologica()" id="foneticaMenu-button10" class="button button-positive button-block">Conciencia Fonológica</a>
    <div class="spacer" style="height: 110px;"></div>
  </ion-content>
</ion-view>