<ion-view title="Login" hide-nav-bar="true" id="page2" style="background-color:#97D56D;">
  <ion-nav-buttons side="left" scroll="false">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Correo</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button1" class="button button-stable button-block">Acceder</button>
      <a ui-sref="enroll()" id="login-button2" style="color:#0A00EC;" class="button button-light button-block button-clear">o Enrolarse</a>
    </form>
  </ion-content>
</ion-view>