<ion-view title="TfoneticaMenu" hide-nav-bar="true" id="page6" style="background-color:#97D56D;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="height: 100px;"></div>
    <button id="tfoneticaMenu-button11" class="button button-positive button-block">Audio a Transcripcion</button>
    <div class="spacer" style="height: 100px;"></div>
    <button id="tfoneticaMenu-button12" class="button button-positive button-block">Transcripcion a Audio</button>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>