<ion-view title="Cfonologica" hide-nav-bar="true" id="page8" style="background-color:#97D56D;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="height: 100px;"></div>
    <button id="cfonologica-button15" class="button button-positive button-block">Formar Palabras con Letras</button>
    <div class="spacer" style="height: 100px;"></div>
    <button id="cfonologica-button16" class="button button-positive button-block">Formar Palabras con Silabas</button>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>