<ion-view title="TfonologicaMenu" hide-nav-bar="true" id="page7" style="background-color:#97D56D;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="height: 100px;"></div>
    <button id="tfonologicaMenu-button13" class="button button-positive button-block">Fonemas a Grafemas</button>
    <div class="spacer" style="height: 100px;"></div>
    <button id="tfonologicaMenu-button14" class="button button-positive button-block">Grafemas a Fonemas</button>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>